body {
    background: rgb(58,238,203);
    background: url('img/logo2.png') no-repeat center, radial-gradient(circle, rgba(58,238,203,1) 0%, rgba(70,122,252,1) 100%);
    background-attachment: fixed;
    background-size: 100%;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

#logo {
    background: url('img/puzzle.png') no-repeat center, url('img/circle2.png') no-repeat center;
    size: 80%;
}

#logo a {
    opacity: 0;
}

#logo2 {
    background: url('img/kuriboh.png') no-repeat center;
}

#main-searcher {
    background-color: #0cbaba;
    background-image: linear-gradient(315deg, #0cbaba 0%, #a809a3 74%);
}

input {
    font-size: 12px;
    border: 2px solid white;
}

.results {
    text-shadow: 0px 0px 6px rgba(255,255,255,0.7);
    color: white;
    font-weight: bold;
    margin: 0px;
}

/* ----- Icônes de la navbar ----- */
.fas {
    color: white;
    font-size: 1.5em;
    text-shadow: 0 1px 0 #ccc, 
            0 2px 0 #c9c9c9,
            0 3px 0 #bbb,
            0 4px 0 #b9b9b9,
            0 5px 0 #aaa,
            0 6px 1px rgba(0,0,0,.1),
            0 0 5px rgba(0,0,0,.1),
            0 1px 3px rgba(0,0,0,.3),
            0 3px 5px rgba(0,0,0,.2),
            0 5px 10px rgba(0,0,0,.25),
            0 10px 10px rgba(0,0,0,.2),
            0 20px 20px rgba(0,0,0,.15);
}

.fa-ban:hover, .fa-search:hover, .fa-sort-amount-down:hover, #language:hover {
    transform: scale(1.2);
    transition: scale 0.4s, color 0.4s;
}

.fa-search:hover {
    color: goldenrod;
}

.fa-sort-amount-down:hover {
    color: cyan;
}

.fa-ban:hover {
    color: darkred;
}

/* ----- Barre horizontale délimitant la navbar du reste de la page ----- */
.division {
    background-color: white;
    height: 2px;
    margin: 0px;
    border: 1px solid black;
}

.bg-lightdark {
    background-color: rgb(82, 84, 192);
}

#typeCartes > .tri:hover {
    color: yellow;
    background-color: rgb(44, 47, 172);
    text-shadow: 0 1px 0 #ccc, 
            0 2px 0 #c9c9c9;
    transition: color 0.4s, text-shadow 0.4s, background-color 0.4s;
    cursor: default;
}

.tri .btn-outline-primary {
    border: none;
    color: white;
    background-color: transparent;
    padding: 0 auto;
}

.tri > button:focus {
    color: yellow;
    transition: color 0.4s;
}

.tri > button:blur {
    color: white;
    transition: color 0.4s;
}

/* ----- Gestion des images de chaque résultat retourné et du hover ----- */
.hovertexter > img:hover {
    transform: scale(1.07);
    transition: transform 0.4s;
}

.hovertexter {
    position: relative;
}

.hoverCardTitle, .hoverCardDescription {
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    visibility: none;
    opacity: 0;
    text-align: center;
    color: white;
}

.hoverCardTitle {
    padding-top: 4%;
    top: 0px;
    height: 17%;
    font-size: 12px;
}

.hoverCardDescription {
    padding-top: 5%;
    bottom: 0px;
    height: 28%;
    font-size: 11px;
}

.hovertexter:hover .hoverCardTitle, .hovertexter:hover .hoverCardDescription {
    visibility: visible;
    opacity: 1;
    transform: scale(1.07);
    transition: opacity 0.4s, transform 0.4s;
}

.hovertexter:hover .hoverCardTitle {
    top: -5px;
    height: 20%;
    transition: height 0.4s;
}

.hovertexter:hover .hoverCardDescription {
    bottom: 2%;
    height: 22%;
    transition: height 0.4s;
}

/* ------ Modal treatment section ------ */
.modal-body > label {
    display: block;
    float: left;
    width: 120px;
}

.modal-body div > button:hover, .modal-body div > button:focus {
    background-color: yellowgreen;
    color: black;
    transition: background-color 0.3s, color 0.3s;
}

#cN > button, #cLR > button, #cATK > button, #cDEF > button {
    font-size: 15px;
    width: 120px;
    min-width: 110px;
    padding: 10px 0px;
    margin: 10px 0px;
}

#attributeCard img {
    width: 20%;
    margin-left: 1.25em;
}

#cardImgDesc {
    width: 100%;
    border: 3px outset black;
}

#cardImgDesc:hover {
    filter: grayscale(30%);
    -webkit-filter: grayscale(30%);
    transform: scale(1.05);
    transition: filter 0.4s, transform 0.4s;;
}

#borderer .row .bg-info, .limitator {
    border: 3px outset black;
}

#cardDescription {
    overflow: auto;
    max-height: 15em;
}

#cardPriceAndSet {
    font-size: 11px;
    list-style-position: outside;
    padding: 0px;
}

.priceBanList {
    overflow: auto;
    max-height: 10em;
}

#formatBan > button {
    padding: 0.2em 1.9em;
}

.bolder {
    font-weight: bold;
}

#formatBan > button {
    width: 80px;
    min-width: 80px;
    padding: 10px 0px;
    margin: 10px 0px;
}